<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Asanas for {{ header }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-list>
       <ion-card ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
    

              <ion-item>
                
                <h2>{{ item.label }} </h2>
                
              </ion-item>

              <img src="http://d1dcu4sbskithe.cloudfront.net/{{ item.image }}" onerror="this.src='http://d1dcu4sbskithe.cloudfront.net/media/default.png';" />

              <ion-card-content>
                <p>{{ item.description }}</p>
              </ion-card-content>

             <!-- <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>4 Comments</div>
                  </button>
                </ion-col>
                <ion-col center text-center>
                  <ion-note>
                    11h ago
                  </ion-note>
                </ion-col>
              </ion-row> -->

    </ion-card>
      
      
   
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
<ion-footer>
 <ion-navbar>
    <button ion-button>
      <ion-icon (click)="goToHome()" name="home"></ion-icon>
      
    </button>
    
   
    
  </ion-navbar>
</ion-footer>    
