<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
    
        <ion-content>
            
          
              <ion-item  *ngIf="easyVid">
           <ion-label> Supported Mode</ion-label>
           <ion-toggle ng-model="easyMode" (click)="changeVid()"></ion-toggle>
                  </ion-item>
          
        
          <div id="videoArea" style="height:50%;width:100%;">
              <a (click)="playVid()">
                  <img src="http://d1dcu4sbskithe.cloudfront.net/{{ imgSrc }}" style="height:100%;width:100%" onerror="this.src='http://d1dcu4sbskithe.cloudfront.net/media/default.png';" />
                  
                  <!--<div class="item item-text-wrap" ng-style="style"> -->
                  <div style="top:35%;left:1%;position:absolute"><img style="height:50px;width:50px;opacity: 0.9" src="http://d1dcu4sbskithe.cloudfront.net/icons/playicon.PNG"></div></a>
          </div>
          
          <div style="margin-left:4px;margin-top:4px;">
                <button ion-button (click)="addToFav()"><ion-icon name="heart"> {{ favLabel }} </ion-icon></button>
                <button ion-button (click)="openModal()">Provide Feedback</button>
              
              
          </div>
          
          <div style="margin-left:4px;margin-right:4px;overflow-y:scroll">
            
            <b>Simple practice rules:</b>
            <ul>
            <li>Keep Yourself hydrated.</li>
            <li>Eat at least 2 hours before practice.</li>
            <li>Focus on your breath, on the disease and area affected, be in the moment.</li>
            <li>Healthy balanced diet is critical.</li>
            <li>Consult a physician before starting yoga or any discomfort during practice.</li>
            <li>Any questions contact us at info@mandukya.org.</li>
            <li>While we put the sequence of asanas based on traditional and scientific research we don't guarantee any cure.</li>
            </ul>
            
            </div>
          
        </ion-content>
        
    <ion-footer>
  <ion-navbar>
    <button ion-button>
      <ion-icon (click)="goToHome()" name="home"></ion-icon>
      
    </button>
    <button ion-button>
      <ion-icon (click)="goToFavs()" name="heart"></ion-icon>  
    </button>
      
     <button ion-button>
      <ion-icon (click)="goToProducts()" name="cart"> Donate</ion-icon>  
    </button>
    
  </ion-navbar>
</ion-footer>    
